
body{
    margin: 0px;
    box-sizing: 0px;
    padding: 0px;
    
}
.con {
    width: 100%;
    height: 78px;
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.img-box {
    max-width: 55px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* border: 1px solid red; */
    margin-left: 10px;
    border-radius: 5px;
    
    
}
.img-box > img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
}

.details-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    /* border: 1px solid red; */
    width: 25%;
}
.details-text {
    /* border: 1px solid red; */
    height: 40px;
    line-height:1.39;
}
.details-text > .title {
    font-size: 15px;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
}

.artist-names {
    display: flex;
    font-size: 11px;
    color: #d4d4d4;
}
.artist-names > p {
    margin-right: 2px;
}
.player {
    display: flex;
    justify-content: center;
    gap: 22px;
    align-items: center;
    /* border: 1px solid red; */

}
.player-time {
    width: 50%;
    /* border: 1px solid red; */
}
.sound-others {
    width: 25%;
    /* border: 1px solid red; */
}
.full-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap : 20px;
}
.pause {
    width: 33px;
    height: 33px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pause > svg {
    max-width: 65%;
    max-height: 65%;
    cursor: pointer;
}
.next {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

} 

.next > svg {
    max-width: 65%;
    max-height: 65%;
    cursor: pointer;
}
 
.hoverclass:hover path {
    fill: white;/* Replace with the desired hover color */
  }
.greenLoop:hover path {
    fill: rgb(27, 233, 27);
}
.loop{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.loop > svg {
    max-width: 65%;
    max-height: 65%;
    cursor: pointer;
}

:host ::ng-deep .p-slider .p-slider-range{ 
    background: white; 
}
:host ::ng-deep .p-slider:hover .p-slider-range {
    background: rgb(6, 166, 6);

  }
  :host ::ng-deep .p-slider:hover{
    height: 3.1px; 
    position: relative;
    border-radius: 10px 10px 10px 10px;
  }

  :host ::ng-deep .p-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #969494;
    border-radius: 5px;
  }

:host ::ng-deep .p-slider { 
    /* width: 80%; */
    height: 3.1px;
    /* position: absolute;
    left : 10.8%;
    margin-top: 7px;
   border-radius: 10px 10px 10px 10px; */
} 
  

:host ::ng-deep .p-slider .p-slider-handle {
  display: none;
}

:host ::ng-deep .p-slider:hover .p-slider-handle {
    display: block;
    /* border-radius: 5px; */
    width: 13px; /* Set the width when hovered */
    height: 13px; /* Set the height when hovered */
    border: none;
    color: none;
    background-color: white;
    margin-top: -6px;
    cursor: pointer;
  }

  :host ::ng-deep .p-slider .p-slider-handle:active,
:host ::ng-deep .p-slider .p-slider-handle:focus {
    width: 13px; /* Set the width when hovered */
    height: 13px; /* Set the height during interaction */
    border: none;
    outline: none;
}
.songtimer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    height:  20px;
}
    .music-player {
        width: 100%;
        position: relative;
        height: 10px;
        /* border: 1px solid  red; */
    }   
.time-indicator1{
    font-size: 13px;
    color: rgb(171, 169, 169);
    /* margin-left: px; */
    margin-right: -9.5%;
    margin-top: 2.5px;

}
.time-indicator2{
    font-size: 13px;
    color: rgb(171, 169, 169);
    /* margin-left: px; */
    margin-left: -8%;
    margin-top: 2.5px;

}

.sound-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left : 50%;
}
.sound-icon > svg {
    max-width: 65%;
    max-height: 65%;
    cursor: pointer;
}
.sound-others{ 
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
.sound-slider {
    width: 30%;
    position: absolute;
    right: 10%;
    top: 40%;
}
  

