body {
<<<<<<< HEAD
    background-image: url("../shared/image/bac.jpg");
  
    background-size: cover; /* or "contain" */
    background-position: center center; /* or any other position */
    background-attachment: fixed; /* ensures the background image stays in place */
    height: 60px;
  }
  .cartProducts{
  position: absolute;
  top: 5px;
  right: 62px;
  font-weight: 600;
  color: rgb(182, 12, 255)
  }
  .cartImg{
    position: relative;
  }
=======
    background-color: #EEEEEE;
    margin:0px;
}

.smalltext{
    font-size: 12px; 
}
.navtext{
    font-size: 14px; 
    margin-top: -3px;
}
.fontHeight{
    line-height: 1;
    font-size:14px; 
}
.fontAdj{
    font-size:14px;
    font-weight: 600;
}
.marginBothSide{
    margin-left: 20px;
    margin-right: 20px;
}
.textWhite{
    color : white;
}
.carCustom{
    position: relative;
}
.big-container{
    width: 97.5%;
    display: grid;
    border: 1px solid red;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    
    gap:20px;
    /* position: absolute;
    top:46%;
    left:15px; */
   
  
  }

.sub-container{
width: 100%;
display: grid;
border: 1px solid red;
grid-template-columns: 1fr 1fr ;

margin: auto;
}

.container{
    border: 1px solid red;
    height: 380px;
    width: 100%;
    padding: 10px;
    background-color: white;
}
.child-div{
    border: 1px solid red;
    height: 122px;
    margin:auto;
    width: 122px;
}
.p-text{
    font-size: 12px;
    color : gray;
}

.card-img{
    height : 184px;
    width: 140px;
}
.slide-container{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    grid-template-rows: auto;
    gap : 20px;
    border: 1px solid blue;
    margin:auto; 
}
.sub-slide-container{
    border:1px solid red;
    height: auto;
    width: auto;

}
.img-box{
    height: 200px;
    width:  240px;
    border: 1px solid red;
    display:flex;
    justify-content: center;
    padding: 5px;
    background-color: #FFFFFF;

}
.holding-sliding{
    border: 1px solid red;
    height:367px;
    width:1460px;
    margin:auto;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:20px;

}
>>>>>>> eb2d27557ec0a8ac5e2b4815807a1d55f6d09555
