body {  
    background-size: cover; /* or "contain" */
    background-position: center center; /* or any other position */
    background-attachment: fixed; /* ensures the background image stays in place */
    height: 60px;
    position: relative;
  }
  .cartProducts{
  position: absolute;
  top: 5px;
  right: 62px;
  font-weight: 600;
  color: rgb(182, 12, 255)
  }
  .cartImg{
    position: relative;
  }
  .product-item{
    display:flex;
    gap: 15px;
    cursor: pointer;

  }
  .image-box {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f6f6;
  }
  .image-box > img{
    height: 30px;
  }
   .product-item > p{
    font-size: 12px;
    margin-top: 5px;
   }
   .searchbox{
    position: absolute;
    top: 50px;
    z-index: 2;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;   }
   .nameprice{
    line-height: 0.1;
    font-size: 12px;
    margin-top: 10px;
   }
   .Accountfont{
    font-size: 15px;
   }
   .list{
    font-size: 12px;
    line-height: 0.7;
   }