
  <!-- here footer will start  -->
  <section class = "glass-bac dark-glass" style = "height: 200px; margin-top: 20px; color: white;">About the Company</section>
  <footer class="footer-distributed glass-bac darker">

    <div class="footer-left">

      <h3><img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt="companylogo-1" alt=""
        style="max-width:60px; max-height:60px">indGo</h3>

      <p class="footer-links">
        <a href="#" class="link-1">Home</a>

        <a href="#">Blog</a>

        <a href="#">Pricing</a>

        <a href="#">About</a>

        <a href="#">Faq</a>

        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name"><img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo-shadow.png" alt="companylogo-1" alt=""
        style="max-width:30px; max-height:30px">indGo © 2023</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa bi bi-geo-alt-fill"></i>
        <p><span>Sector 12</span>Gurugram, Harayana</p>
      </div>

      <div>
        <i class="fa bi bi-telephone"></i>
        <p>8839442948</p>
      </div>

      <div>
        <i class="fa bi bi-envelope"></i>
        <p ><a style = "color: white"  href="aman198sharma114@gmail.com">aman198sharma114@gmail.com</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about" style="color : white">
        <span style="font-size: 20px;">About the company</span>
        BindGo is an exceptional ecommerce platform that offers an unparalleled
        hopping experience to customers around the world. With a vast array of products
        available from A to Z, BindGo caters to all your shopping needs with just a few
        clicks of a button. Whether you're looking for electronics, clothing, home appliances,
        or even groceries, BindGo has it all.
      </p>

      <div class="footer-icons">

        <!-- <a href="#"><i class="bi bi-facebook"></i></a>
        <a href="#"><i class="bi bi-twitter"></i></a> -->
        <a href="https://www.linkedin.com/in/aman12345/"><i class="bi bi-linkedin"></i></a>
        <a href="https://github.com/Aman103767/"><i class="bi bi-github"></i></a>

      </div>

    </div>

  </footer>

