body {
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    height: 100vh;
    /* Set height to 100% of the viewport height */
    background-color: black;
    color: white;
    position: relative;
}

.container {
    /* height: 500px; */
    /* display: inline-block; */

}

.row {
    width: 100%;
    /* border: 1px solid red; */
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: #121212;
}

.row1 {
    height: 18vh;

}

.row2 {
    height: 70vh;
    padding: 10px 0px 0px 10px;
}

.home {
    display: flex;
    padding: 15px 0px 0px 25px;

}

.home>svg {
    width: 26px;
    height: 32px;
}

.home>h6 {
    font-size: 17px;
    padding-left: 20px;
    margin-top: 5px;
    /* letter-spacing: 1.2px */

}

.search {
    display: flex;
    padding: 25px 0px 0px 25px;
    margin-top: -30px;


}

.search>svg {
    width: 26px;
    height: 32px;
}

.search>h6 {
    font-size: 17px;
    padding-left: 20px;
    margin-top: 5px;
    /* letter-spacing: 0px */
}

.rows {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.con {
    /* border : 1px solid red; */
    min-width: 77%;
    border-radius: 10px;
    height: 87vh;
    margin-top: 10px;
    background-color: #121212;
    overflow: auto;
    /* Add scrollbar if child div overflows */

}

.con2 {
    min-width: 22.4%;

}

.labary {
    width: 100%;
    display: flex;
    height: 35px;
    align-items: center;
    gap: 20px;
    /* padding: 10px 0px 0px 10px; */
}

.labary-icon {
    width: 30px;
}

.labary>h6 {
    font-size: 17px;
    margin-top: 8px;
}

.plus-icon {
    width: 17px;
    margin-left: 100px;
    cursor: pointer;
}

.icon-white:hover path {
    fill: white;
    /* color: white;
    fill : rgb(215, 213, 213)
*/
    cursor: pointer;

}

.t-icon {
    color: rgb(182, 180, 180);
}

.t-icon:hover {
    color: white;
}

.c-pointer {
    cursor: pointer;
}

.page-white {
    fill: white;
}

.icon-white {
    fill: rgb(215, 213, 213);
}

:host ::ng-deep .p-menuitem {
    /* From https://css.glass */
    background: rgba(37, 37, 37, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
}

:host ::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active>.p-menuitem-link {
    background: rgba(37, 37, 37, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
}

:host ::ng-deep .ng-trigger {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.13);
}

.rw {
    height: 60px;
    margin-left: 20px;


}

.back-forword {
    width: 75.8%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 15px;
    position: absolute;
    /* border: 1px solid red; */
    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(19, 19, 19, 0.13);
    z-index: 1;

}
.router {
     margin-top: 70px;
}
.back {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.forword {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.back>svg {
    height: 15px;
    width: 15px;
}

.forword>svg {
    height: 15px;
    width: 15px;
}

.heading {
    font-weight: bolder;
    margin-bottom: 15px;
}

.songs {
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    gap: 20px
}

.song {
    /* margin-left: 20px; */
}