<!-- <a
  href="#"
  class="list-group-item clearfix"
  (click)="onSelected()">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{  product.productName}}</h4>
    <p class="list-group-item-text">{{  product.price }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="product.imagePath"
          alt="{{ product.productName }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a> -->

<div class="card" style="width: 18rem;">
  <img class = "image" src="{{ product.imagePath }}" class="card-img-top" alt="{{ product.productName }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.productName }}</h5>
    <p class="card-text">₹{{ product.price }}</p>
    <button class="btn btn-primary"><a  style="color:white" (click)="addToCart(product.productId)"  >Add to Cart</a></button>
   
  </div> 
</div>

