<div class = "col-md-4 offset-md-10">
    <h3>Update Address</h3>
    <form >
        <div class = "from-group">
            <label for = "">Building Number</label>
            <input type = "text" class = "form-control" id = "buildingNo"
            [(ngModel)] = "address.buildingNo" name = "buildingNo">
        </div>
        <div class = "from-group">
            <label for = "">City</label>
            <input type = "text" class = "form-control" id = "city"
            [(ngModel)] = "address.city" name = "city">
        </div>
        <div class = "from-group">
            <label for = "">State</label>
            <input type = "text" class = "form-control" id = "state"
            [(ngModel)] = "address.state" name = "state">
        </div>
        
        <div class = "from-group">
            <label for = "">Country</label>
            <input type = "text" class = "form-control" id = "country"
            [(ngModel)] = "address.country" name = "country">
        </div>
        <div class = "from-group">
            <label for = "">Pincode</label>
            <input type = "text" class = "form-control" id = "pincode"
            [(ngModel)] = "address.pincode" name = "pincode">
        </div>

        <button class="btn btn-success" type="button"  style="margin: 10px" (click)="onSubmit()">Submit</button>
    </form>
</div>