<div class="product" *ngFor="let product of order.products" >
  <div class="product-image">
    <img src="{{product.imagePath}}" alt="Product Image">
  </div>
  <div class="product-details"> 
    <p class="product-manufacturer">Manufacturer: {{product.manufacturer}}</p>
    <p class="product-dimension">Dimension: {{product.dimension}}</p>
    <p class="product-price">Price: {{product.price}}</p>
    <p class="product-dimension">Quantity: {{product.quantity}}</p>
    <p class="product-price">Order Date: {{order.orderDate}}</p>
    <a  (click) = "giveOrderId(order.orderId)"><h5>More Detials</h5></a>
  </div>
  
</div>
