<!-- 
<div class="product-container" *ngIf = "order$ | async as order">
    <h2>Order Details</h2>
    <p>Order ID: {{order.orderId}}</p>
    <p>Order Date: {{order.orderDate}}</p>
    <h4>Address</h4>
    <p>Building No  {{order.address.buildingNo}}</p>
    <p>City: {{order.address.city}}</p>
    <p>State: {{order.address.state}}</p>
    <p>Country: {{order.address.country}}</p>
    <p>Pincode: {{order.address.pincode}}</p>
    <h3>Products</h3>
    <div class="product" *ngFor="let product of order.products">
      <div class="product-image">
        <img src="{{product.imagePath}}" alt="Product Image">
      </div>
      <div class="product-details"> 
        <p class="product-manufacturer">Manufacturer: {{product.manufacturer}}</p>
        <p class="product-dimension">Dimension: {{product.dimension}}</p>
        <p class="product-price">Price: {{product.price}}</p>
        <p class="product-price">Quantity: {{product.quantity}}</p>
      </div>
    </div>
    <h4>Order Status: Order Confirmed</h4>
  </div>
 <hr> -->
 <app-header></app-header>
 <body>

  <h3>Order Details</h3>
  <div class = "head">
    <span>Ordered on 28 May 2022</span>
    <span style = "margin-left : 10px; margin-right: 10px; color : rgb(200, 200, 200)">|</span>
    <span>Order# 403-3414164-4353919</span>
  </div>
  <div class = "details f14">
    <div class = "shipping">
      <h6>Shipping Address</h6>
      <div class = "address f14">
        <span>Gunjan sharma</span><br>
        <span>House No -80 Indra Nagar, Chauhan</span><br>
        <span>Pyau, Thatipur</span><br>
        <span>Indra Nagar</span><br>
        <span>GWALIOR, MADHYA PRADESH 474011</span><br>
        <span>India</span><br>
      </div>
      
    </div>
    <div class = "payment">
      <h6>Payment Method</h6>
      <span class = "f14">
        Pay on Delivery (Cash/Card).
         Cash on delivery (COD) available.
          Card/Net banking acceptance subject
           to device availability.
          </span>

    </div>
    <div class = "order">
      <h6>Order Summary</h6>
      <table style="width: 100%">
        <tr>
          <td align="left">Item(s) Subtotal:</td>
          <td align="right">$1,143.00</td>
        </tr>
        <tr>
          <td align="left">Shipping:</td>
          <td align="right">$0.00</td>
        </tr>
        <tr>
          <td align="left">Total:</td>
          <td align="right">$1,143.00</td>
        </tr>
        <tr>
          <td align="left" class ="bolder">Grand Total:</td>
          <td align="right">$1,143.00</td>
        </tr>
      </table>
      

    </div>

  </div>
  <div class="middle">
    <div class="delivered-data">
      <h6>Delivered 21-Mar-2023</h6>
    </div>
    <div class="products">
      <div class="img-text">
        <div class="img_box">
          <img src="https://m.media-amazon.com/images/I/41mDAtPMDKL._SY180_.jpg">
        </div>
        <div class="text_box f14">
          <span class="product-name">OnePlus Nord CE 2 Lite 5G (Black Dusk, 6GB RAM, 128GB Storage)</span><br>
          <span class = "f12">Sold by: <span class = "product-name">Prime Expresso</span></span><br>
          <span class="f13">Return window closed on 30-Jul-2022</span><br>
          <!-- <p-button class = "btn" label="Buy It Again" style = "height: 10px;" styleClass="p-button-raised p-button-warning"></p-button> -->
          <span class = "f13">$1,143.00</span>
          <button class="btn btnn">Buy It Again</button>
        </div>
      </div>
      <div class="buttons">
        <button class="btn btn1">Leave seller feedback</button>
        <button class="btn btn1">Write a product review</button>
      </div>
    </div>


  </div>
  

 </body>
 <app-footer></app-footer>
