<<<<<<< HEAD
/* body {
=======
body {
>>>>>>> eb2d27557ec0a8ac5e2b4815807a1d55f6d09555
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    width: 80%;
  }
  .cart-item {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10%;
  }
  .cart-item img {
    max-width: 100px;
    margin-right: 10px;
  }
  .cart-item-info {
    flex-grow: 1;
  }
  .cart-item-info h2 {
    margin: 0;
    font-size: 20px;
  }
  .cart-item-info p {
    margin: 5px 0;
    font-size: 14px;
  }
  .cart-item-quantity {
    display: flex;
    align-items: center;
  }
  .cart-item-quantity label {
    margin-right: 10px;
  }
  .cart-item-quantity input {
    width: 50px;
    text-align: center;
  }
  .cart-item-total {
    font-weight: bold;
    font-size: 18px;
  }
  .cart-total {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
  }
  .cart-total p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .cart-total-amount {
    font-size: 24px;
    margin-top: 10px;
  }
  .cart-item-actions button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
<<<<<<< HEAD
  } */

  * {
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #EEEEEE;
    margin:0px;
    
}

#twocontainer {
    /* width: 960px; */
    width: 75%;
    margin: auto;
    height: 400px;

    display: flex;
    gap: 5px;

}

#item_append {
    height: auto;


}

#total_container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 35.6%;
    
    padding:0px 20px 20px 20px;
    margin-left: 10px;
    background-color: #FFFFFF;
     height: 340px;
    letter-spacing: 2px;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;

}



#disc {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    align-items: center;
    font-size: 16px;

}

#realp {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    align-items: center;
    font-size: 16px;
}

#discount {
    font-weight: 400;
    font-size: 16px;
    color: green;
    

}

#paradis {
    font-size: 13px;
}

#checkout {
    width: 100%;
    height: 45px;
    margin-top: 20px;
    background-color: green;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bolder;

}

#checkout:hover {
    background-color: rgb(97, 195, 163);
    cursor: pointer;
}

#acceptpay {
    width: 100%;
    height: auto;

}

#acceptpay>img {
    width: 100%;
    height: auto;


}

#paradis {
    font-size: 13.6px;
    margin-top: 3px;
}

#price_flex {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    letter-spacing: 2px;
}

#coupon_flex {
    display: flex;
    justify-content: space-between;


}

/* end total container css */
#first_box {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-bottom: 15px;

}

#first_box>h1 {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bolder;
}

#first_box>p {
    margin-right: 20px;
}

#inner_box {

    display: flex;
    width: 100%;
    margin: auto;
    padding: 15px;
    gap: 20px;
    background-color: #FFFFFF;
    position: relative;
}

#img_box {

    height: 160px;
    display:flex;
    align-items: center;
    padding: 10px
}

#img_box>img {
    height: 140px
}

/* here start button minus and plus */
#divQ {
    display: flex;
}

.incdc {
    height: 30px;
    width: 30px;
    border: 0;
    background-color: white;
    border: 1px solid #e9e9e9;
    color: #081442;
}

#qunt {
    margin: 0;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9e9e9;
    color: #081442;
    font-size: 17px;
}

/* HERE END MINUS AND PLUS */
#delete_box {
    font-size:20px;
    position: absolute; right: 10px; top: 7.5px;
    
}

#last_box {
    height: 68px;
    background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;


}

#last_box>h3 {
    margin-right: 30px;
}

#twocontainer {
    margin-bottom: 100px;

    height: auto;
}

#last_box>h3>span {
    margin-left: 30px;
}
.navbar__container{
  width: 97.5px;
}
.item-parent-div{
  width: 67%;

}
#img_box{

}
#promo{
    width: 70%;
    height: 40px;
}
#first_box{
  display: flex;
  align-items: center;
}
#subpricebelow{
  font-size: 13px;
  margin-right: 20px;
}
.sub-total{
  display: flex;
  align-items: center;
  height: 20px;
}
.discount{
    display: flex;
  align-items: center;
  color: green;
  height: 20px;
}
.estimated{
  display: flex;
  align-items: center;
  height: 20px;
}
.pad{
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
=======
  }
>>>>>>> eb2d27557ec0a8ac5e2b4815807a1d55f6d09555
