/* 
.container{
    display: grid;
    grid-template-rows: repeat();
    grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  border: 1px solid red;
  padding: 10px;
  display: flex;
}
.container>div{
    border: 1px solid black;
}
.product-container{
  display: grid;
  grid-template-columns: auto auto auto auto ;
  margin-inline:100px ;
  gap: 50px;

}
.smallcon{
  
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 10px;
}
.disabled{
  pointer-events: none;
  opacity: 0.6;
} */
body{
  margin:0px;
  padding: 0px;

}
.big-container{
  width: 97.5%;
  display: flex;
  margin-top: 4px;
  margin:auto;
  justify-content: space-between;
}
.side-div{
  border: 1px solid red;
  width: 20%;
}
.pro-container{
  width:77%;
}