<div class="rw">

    <div class="back-forword">
        <div class="back">


            <svg xmlns="http://www.w3.org/2000/svg" data-encore-id="icon" role="img" aria-hidden="true"
                class="Svg-sc-ytk21e-0 cAMMLk IYDlXmBmmUKHveMzIPCF" viewBox="0 0 16 16">
                <path
                    d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"
                    fill="white" />
            </svg>

        </div>
        <div class="forword">

            <svg xmlns="http://www.w3.org/2000/svg" data-encore-id="icon" role="img" aria-hidden="true"
                class="Svg-sc-ytk21e-0 cAMMLk IYDlXmBmmUKHveMzIPCF" viewBox="0 0 16 16">
                <path
                    d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"
                    fill="white" />
            </svg>

        </div>
    </div>
    <h5 class="heading">More Like Arijit Singh</h5>
    <div class="songs">
        <app-song class="song" *ngFor="let song of songs" [song]="song" (onSongSelect)="selectSong($event)"></app-song>
    </div>


</div>