.container {
    min-height: 230px;
    /* border: 1px solid red; */
    width: 200px;
    border-radius: 5px;
    display: inline-block;
    padding: 12px;
    cursor: pointer;
    background-color : #191818;
    /* border: 1px solid red; */
}

.container:hover {
/* From https://css.glass */
background: rgba(255, 255, 255, 0.123);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
    
    .green-play {
        height: 43px;
        width: 43px; 
        background-color: rgb(81, 232, 81);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        right: 5%;
        bottom: 5%;    

    }


}

.img_box {
    width: 100%;
    position: relative;
}

.img_box > img {
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}

.title > p {
    font-size: 14px;
    font-weight: bolder;
    padding: 4px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent line breaks */
    margin-bottom: 0px;

     
}

.artist-names {
    /* border: 1px solid red; */
    display: flex;
    font-size: 12.5px;
    color: #aaa7a7;
    overflow: hidden;   
}

.artist-names > p {
    margin-right: 2px;
    white-space: nowrap;  /* Prevent line breaks within artist names */
}

.song-details {
    line-height: 1.4;
}

.green-play {
   height: 43px;
   width: 43px; 
   background-color: rgb(81, 232, 81);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   position: absolute;
   right: 5%;
   bottom: 5%;
   display: none;
}
.green-play > svg {
    width: 25px;
    height: 25px;
}




